<section class="work">
  <div class="container">
    <h1 class="maint">Contact Form</h1>
    <div class="section animated bounceInLeft">
        <div class="brandname">
            <h2>Its_artistic</h2>
            <ol>
                <li> +91 9136509352</li>
                <li>itsartistic2021@gmail.com</li>
                <li>its_artistic.com</li>
            </ol>
        </div>
        <div class="contact">
            <h3>Email Me</h3>
            <form action="#">
                <p>
                    <label for="#">Name</label>
                    <input type="text" name="name">
                </p>
                <p>
                    <label for="#">Company</label>
                    <input type="text" name="company">
                </p>
                <p>
                    <label for="#">Email Address</label>
                    <input type="email" name="email">
                </p>
                <p>
                    <label for="#">Phone Number</label>
                    <input type="text" name="phone">
                </p>
                <p class="full">
                    <label for="#">Message</label>
                    <textarea name="message" cols="30" rows="5"></textarea>
                </p>
                <p class="full">
                    <button>Submit</button>
                </p>
            </form>
        </div>
    </div>
</div>

</section>
